@inject IStudentService studentService

<h1>Список студентов</h1>
<hr />

<a asp-controller="Home" asp-action="NewStudent">Добавить нового студента</a>
<hr />

<ol>
    @foreach (Student student in studentService.GetStudents())
    {
        <li>
            <a asp-controller="Home" asp-action="Student" asp-route-id="@student.Id">
                @student.GetFullName() (@student.Email)
            </a>
        </li>
    }
</ol>